:host {
  position: absolute;
  overflow: scroll;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, .5);
  display: block;

  .modal-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 2rem;
  }
  .modal-table {
    width: 100%;
    min-height: 100%;
    display: table;
  }

  .modal-content {
    display: inline-block;

    width: 1000px;

    @media screen and (max-width: 1023px) {
      width: 760px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
